<form {{action 'submit' on='submit'}}>
  <div class="fields">
    <div>
      {{input type='email' value=email placeholder='Email' required='true' name='email' autofocus='true'}}
    </div>
  </div>
  <div class="controls">
    <button type="submit" class="btn">Send</button>
  </div>
</form>
