<form {{action 'submit' on='submit'}}>
  <div class="fields">
    <div>
      {{input type='password' value=password placeholder='Password' required='true' name='password' autofocus='true'}}
    </div>
  </div>
  <div class="controls">
    <button type="submit" class="btn">Reset</button>
  </div>
</form>
